<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djw.douban">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.movies.activity.MovieInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.activity.PeopleActivity"
            android:theme="@style/NoStateBar" />
        <activity
            android:name=".ui.book.activity.BookInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.activity.Top250Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.music.activity.MusicInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.cloud.activity.CloudInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.activity.CommingSoonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.activity.NorthAmericaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.activity.HotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.activity.TypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.search.activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.music.activity.MoreMusicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.music.activity.ChooseTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity android:name=".zxing.activity.ResultActivity" />
    </application>

</manifest>